.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(250px, auto);
    grid-gap: 0.5rem;
    margin: 0 auto;
    max-width: 1200px;
    padding: 1rem;
}

.card {
    border: 5px solid black;
    border-radius: 1rem;
    display: grid;
    grid-template-rows: 1fr;
}