.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(250px, auto);
    grid-gap: 0.5rem;
    margin: 0 auto;
    max-width: 1200px;
    padding: 1rem;
}

.card {
    border: 5px solid black;
    border-radius: 1rem;
    display: grid;
    grid-template-rows: 1fr;
}

.card-image {
    align-items: center;
    display: flex;
    justify-content: center;
}

img {
    max-width: 40%;
    height: auto;
    padding: 10px;
}

.description-container {
    padding: 5px;
}
.job-description {
    border: 1px solid black;
    border-radius: 1rem;
    padding: 5px;

}