.App {
  text-align: center;
  background-color: rgb(177, 197, 238);
}

.App-child-container { 
  min-height: 100vh;
}

/* Unvisted Link */
a:link {
  /* padding: 1em; */
}

/* Hover Over Link */
a:hover {
  color: hotpink
}

/* Selected Link */
a:active {
  color: blue;
}
